packages/

*.suo
*.pdb
*.orig
*.user
desktop.ini

!.nuget
UpgradeLog*.htm
.nuget/
adamtarling.tests/obj/
adamtarling.web/googlecbf0297cd31788df.html
adamtarling.web/App_Browsers/
adamtarling.web/App_Data/
adamtarling.web/bin/
adamtarling.web/Certificates/
adamtarling.web/obj/
adamtarling.web/umbraco/
adamtarling.web/umbraco_client/
adamtarling.web/ExcludeFromSourceControl/
adamtarling.tests/bin/
adamtarling.web/Properties/PublishProfiles/LocalPublish.pubxml
