@using adamtarling.web.ViewModels
@model PageBaseViewModel
<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    <link href="/front-end/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/front-end/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@Model.Keywords" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <script src="/front-end/js/jquery-1.11.0.min.js"></script>
    <link href="/front-end/css/galleryeffect.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/front-end/js/move-top.js"></script>
    <script type="text/javascript" src="/front-end/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <link rel="stylesheet" href="/front-end/css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
    @RenderBody()
</body>
</html>